{% extends "layouts/base.html" %}

{% block content %}
<section class="section px-6-desktop">
    <h1 class="is-size-1 has-text-danger">{{ title }}</h1>
    <div class="columns py-6 is-8 is-variable">
        <div class="column is-three-quarters">
            <div class="columns is-6 is-variable is-multiline">
                {% for news in collections.news %}
                <div class="column is-one-third">
                    <div class="content">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ news.data.image }}" alt="{{ news.data.imageAlt }}" />
                            </div>
                            <div class="card-header-title is-centered">
                                <h2 class="is-size-4">{{ news.data.title }}</h2>
                            </div>
                            <div class="card-content">
                                {{ news.templateContent | safe }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div>
                <h2 class="title is-3 py-6 has-text-primary">Coming up this week</h2>
            </div>
            <div>
                <iframe class="airtable-embed" src="https://airtable.com/embed/shrrbwP50aTisyqI1?backgroundColor=orange" frameborder="0" onmousewheel="" width="100%" height="770" style="background: transparent; border: 2px solid #f7653b;"></iframe>
            </div>

        </div>


        <div class="column is-one-quarter">
            <a class="twitter-timeline" data-height="2000" data-theme="light" data-lang="en" data-dnt="true" href="https://twitter.com/BD_CVS?ref_src=twsrc%5Etfw">Tweets by BD_CVS</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

    </div>
</section>
{% endblock %}
