<footer role="contentinfo" class="footer">
    <div class="columns">
        <div class="column is-9">
            <p>&copy; {{ helpers.currentYear() }} Barking and Dagenham Council for Voluntary Service (BDCVS)</p>
            <p class="is-size-7">Registered Office: The Ripple Centre, 121&ndash;125 Ripple Road, Barking, Essex IG11 7FN</p>
            <p class="is-size-7">Barking and Dagenham Council for Voluntary Service is registered in England and Wales charity number 1012737 and company number 02786597</p>
        </div>
        <div class="column is-3 has-text-centered">
            <a href="https://form.jotform.com/202445764749061" class="button is-large is-primary is-outlined">Get Our Newsletter</a>
        </div>
    </div>
</footer>
